*.html linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.styl linguist-vendored
*.php linguist-vendored
*.less linguist-vendored
*.ipynb linguist-vendored
*.py linguist-vendored=false
